<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{ partial "search-modal.html" . }}
        <header>
            {{ partial "header.html" . }}
        </header>
        <div class="layout-container">
            <!--<div class="sidebar-left">
                <nav>
                    {{ partial "nav.html" . }}
                </nav>
            </div>-->
            <main>
                <div class="inner-content">
                    {{ block "main" . }}{{ end }}
                </div>
            </main>
        </div>
        <footer>
            {{ partial "footer.html" . }}
        </footer>
</body>
</html>
