{{ define "main" }}
    {{ $flairColors := "" }}
    {{ $myTitle := .Title }}
    {{ if not $myTitle }}
        {{ $myTitle = strings.FirstUpper .File.BaseFileName }}
    {{ end }}
        
    <h1>{{ $myTitle }}</h1>
    {{ if .Params.colors }}
        {{ $flairColors = printf `background-image: linear-gradient(90deg, %s)` (delimit .Params.colors ",") }}
        <div class="post-flair" {{ printf `style="%s"` $flairColors | safeHTMLAttr}}></div>
    {{ end }}
    {{ partial "custom-content" . }}
    {{ partial "date-tag.html" . }}
    {{ partial "related-posts.html" (dict "page" .) }}
    <!-- {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }} -->
{{ end }}
