{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ partial "custom-content" . }}
    <table class="archive-list">
        {{ $myDate := "" }}
        {{ range .Pages }}
            {{ $currentYear := .Date | time.Format "2006" }}
            {{ $dateShort := .Date | time.Format "Jan 02" }}
            {{ if ne $myDate $currentYear }}
                </table>
                <h2>{{ $currentYear }}</h2>
                <table class="archive-list">
                {{ $myDate = $currentYear }}
            {{ end }}
            <tr>
                {{ $myTitle := .LinkTitle }}
                {{ if not $myTitle }}
                    {{ $myTitle = .File.BaseFileName }}
                {{ end }}
                <td class="date-text">{{ $dateShort }}</td>
                <td><a href="{{ .RelPermalink }}">{{ $myTitle }}</a></td>
            </tr>
        {{ end }}
    </table>
{{ end }}
