/* Variables */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* Typography */
    --base-font-size: 16px;
    --base-line-height: 1.5;
    --base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --base-font-weight: 400;

    /* Layout */
    --spacing-unit: 20px;
    --max-width: 1080px;

    /* Colors */
    --accent-color: oklch(54.87% 0.222 260.33);
    --accent-color-light: oklch(70.94% 0.136 258.06);
    --color-white: oklch(0.99 0 0);
    --color-white-dark: oklch(91.87% 0.003 264.54);
    --color-black: oklch(25.11% 0.006 258.36);
    --color-black-light: oklch(35.02% 0.005 236.66);
    --color-grey: oklch(84.68% 0.002 197.12);
    --color-grey-light: oklch(95.57% 0.003 286.35);
    --color-grey-dark: oklch(63.12% 0.004 219.55);
    --color-grey-6: oklch(75.03% 0.002 247.85);
    --color-red: oklch(45.8% 0.177 17.7);
    --color-red-light: oklch(62.73% 0.209 12.37);
    --color-red-dark: oklch(41.17% 0.157 16.58);
    --color-blue: oklch(54.87% 0.222 260.33);
    --color-blue-light: oklch(70.94% 0.136 258.06);
    --color-blue-dark: oklch(43.48% 0.17 260.2);
    --color-green: oklch(64.24% 0.175 144.92);
    --color-green-light: oklch(79.33% 0.179 145.62);
    --color-purple: oklch(49.39% 0.215 298.31);
    --color-purple-light: oklch(68.5% 0.136 303.78);
    --color-orange: oklch(69.33% 0.157 52.18);
    --color-pink: oklch(70.23% 0.092 354.96);
}

/* Boilerplate */

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    color: light-dark(var(--color-black), var(--color-white-dark));
    background-color: light-dark(var(--color-white), var(--color-black-light));
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    letter-spacing: -1px;
}

p {
    margin: 0 0 var(--spacing-unit);
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
}

h2 {
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin-bottom: calc(var(--spacing-unit) * 1);
}

h3 {
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin-bottom: calc(var(--spacing-unit) * 0.5);
}

html {
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    font-weight: var(--base-font-weight);
}

img {
    display: inline-block;
    max-width: 100%;
}

a {
    word-wrap: break-word;
    color: light-dark(var(--accent-color), var(--accent-color-light));
    text-underline-position: under;
    text-decoration-thickness: 2px;
}

a:hover {
    color: light-dark(var(--accent-color-light), var(--accent-color));
}

strong, b {
    font-weight: 800;
}

pre, code {
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/* Common elements */

.container {
    margin: 0 auto;
    max-width: var(--max-width);

    &.flex {
        align-items: stretch;
    }
}

/* Header */

header {
    position: sticky;
    top: 0;
    height: 50px;
    line-height: 30px;
    z-index: 1000;
    background-color: light-dark(var(--color-white), var(--color-black));
    border-bottom: 1px solid light-dark(var(--color-grey), var(--color-black-light));
    padding: calc(var(--spacing-unit) * 0.5) 0;

    .site-title {
        font-family: "Roboto Mono", monospace;
        font-size: 1.2rem;
        position: relative;
        margin: 0 calc(var(--spacing-unit) * 0.5);

        #header-logo {
            position: absolute;
            top: 0;
            left: 0;
        }

        #theme-toggle {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }

        .site-url {
            margin: 0 50px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .header-url {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

nav {

    a {
        color: light-dark(var(--color-black), var(--color-white-dark));
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        background-color: yellow;
        border-bottom: 1px solid light-dark(var(--color-grey), var(--color-black-light));

        &.nav-links {
            position: sticky;
            top: 50px;
        }

        li {
            padding: 5px var(--spacing-unit);
            margin-top: -1px;
            /*flex-grow: 1;*/

            span {
                margin: 0;
                padding: 0;
                display: inline-block;
            }

            &.selected {
                font-weight: bold;

                a, a:hover {
                    color:var(--color-white);
                }
            }
        }
    }
}
