/* Variables */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* Typography */
    --base-font-size: 16px;
    --base-line-height: 1.5;
    --base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --base-font-weight: 400;
    --header-font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --header-font-weight: 700;

    /* Layout */
    --spacing-unit: 1rem;
    --content-width: 80ch;

    /* Colors */
    --color-white: oklch(0.99 0 0);
    --color-white-dark: oklch(91.87% 0.003 264.54);
    --color-black: oklch(25.11% 0.006 258.36);
    --color-black-light: oklch(35.02% 0.005 236.66);
    --color-grey: oklch(84.68% 0.002 197.12);
    --color-grey-light: oklch(95.57% 0.003 286.35);
    --color-grey-dark: oklch(63.12% 0.004 219.55);
    --color-grey-6: oklch(75.03% 0.002 247.85);
    --color-red: oklch(45.8% 0.177 17.7);
    --color-red-light: oklch(62.73% 0.209 12.37);
    --color-red-dark: oklch(41.17% 0.157 16.58);
    --color-blue: oklch(54.87% 0.222 260.33);
    --color-blue-light: oklch(70.94% 0.136 258.06);
    --color-blue-dark: oklch(43.48% 0.17 260.2);
    --color-green: oklch(64.24% 0.175 144.92);
    --color-green-light: oklch(79.33% 0.179 145.62);
    --color-purple: oklch(49.39% 0.215 298.31);
    --color-purple-light: oklch(68.5% 0.136 303.78);
    --color-orange: oklch(69.33% 0.157 52.18);
    --color-pink: oklch(70.23% 0.092 354.96);
    
    --color-canvas-sun: var(--color-white);
    --color-canvas-moon: var(--color-black);
    --color-ink-sun: var(--color-black);
    --color-ink-moon: var(--color-white-dark);
    --accent-color: var(--color-blue);
    --accent-color-light: var(--color-blue-light);
    
}

/* Boilerplate */

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: light-dark(var(--color-ink-sun), var(--color-ink-moon));
    background-color: light-dark(var(--color-canvas-sun), var(--color-canvas-moon));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    
    margin: var(--spacing-unit) 0;
    padding: 0px;
}

p {
    margin: var(--spacing-unit) 0;
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
    /*letter-spacing: -1px;*/
}

h2 {
    font-size: 1.6rem;
    line-height: 1.6rem;
    /*letter-spacing: -1px;*/
    /*margin-bottom: calc(var(--spacing-unit) * 1);*/
}

h3 {
    font-size: 1.3rem;
    line-height: 1.3rem;
    /*margin-bottom: calc(var(--spacing-unit) * 0.5);*/
}

html {
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    font-weight: var(--base-font-weight);
}

img {
    display: block;
    max-width: 100%;
    margin: 0px auto;
}

figcaption {
    margin: calc(0.5 * var(--spacing-unit)) 0;
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
}

a {
    word-wrap: break-word;
    color: light-dark(var(--accent-color), var(--accent-color-light));
    text-underline-position: under;
    text-decoration-thickness: 2px;
}

a:hover {
    color: light-dark(var(--accent-color-light), var(--accent-color));
}

strong, b {
    font-weight: 800;
}

pre, code {
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/* Layout */

.layout-container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr minmax(auto, var(--content-width)) 1fr;
    grid-template-rows: auto 1fr auto;
    gap: var(--spacing-unit);
    grid-template-areas:
        "header   header   header"
        "sidebarL main     sidebarR"
        "footer   footer   footer";
}

.inner-content {
    margin: 0 auto;
    max-width: var(--content-width);
}

/* Header */

header {
    grid-area: header;    
    line-height: 30px;
    /*background-color: light-dark(var(--color-white), var(--color-black));*/

    .site-title {
        font-size: 1.5rem;
        font-family: var(--header-font-family);
        /*font-weight: 700;*/
        /*letter-spacing: -1px;*/
        
        position: relative;
        padding: var(--spacing-unit);

        #header-logo {
            position: absolute;
            top: var(--spacing-unit);
            left: var(--spacing-unit);
        }

        #theme-toggle {
            position: absolute;
            top: var(--spacing-unit);
            right: var(--spacing-unit);
            cursor: pointer;
        }

        .site-url {
            margin: 0 50px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .header-url {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    
    .header-flair {
        width: 100%;
        height: 2px;
        background-image: linear-gradient(
                            90deg,
                            light-dark(var(--color-white), var(--color-black)),
                            light-dark(var(--color-white), var(--color-black)),
                            light-dark(var(--color-white-dark), var(--color-black-light)),
                            light-dark(var(--color-white-dark), var(--color-black-light)),
                            light-dark(var(--color-white-dark), var(--color-black-light)),
                            light-dark(var(--color-white), var(--color-black)),
                            light-dark(var(--color-white), var(--color-black))
                        );
    }
}

/* Left sidebar */

.sidebar-left {
    grid-area: sidebarL;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav {
    margin-top: var(--spacing-unit);

    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        li {
            padding: var(--spacing-unit);
                
            a {
                display: block;
                font-size: 1.2em;
                font-weight: bold;
                color: light-dark(var(--color-black), var(--color-white-dark));
                text-decoration: none;
            }

            &.selected {
                font-weight: bold;

                a, a:hover {
                    color:var(--color-white);
                }
            }
        }
    }
}

/* Main content */

main {
    grid-area: main;
    padding: var(--spacing-unit);
    
    .meta {
        text-align: right;
        margin-top: calc(4*var(--spacing-unit));
    }
}

table.archive-list {

    td {
        vertical-align: top;

        &.date-text {
            text-align: right;
            padding-right: calc(var(--spacing-unit) * 1);
            opacity: 0.6;
            min-width: 8ch;
        }
    }

    a {
        text-decoration: none;
    }
}

hr {
    margin: calc(2 * var(--spacing-unit)) 0;
    background-color: light-dark(var(--color-grey), var(--color-grey-dark));
    border: none;
    height: 1px;
}

.meta {
    opacity: 0.6;
}

footer {
    grid-area: footer;
    text-align: center;
}

/**
 * Syntax highlighting styles
 */
pre, code {
    font-size: 0.9rem;
    border: 1px solid light-dark(var(--color-white-dark), var(--color-grey-dark));
    background-color: light-dark(var(--color-grey-light), var(--color-black-light));
}

.highlight {
    background: light-dark(var(--color-grey-light), var(--color-black-light));

    .highlighter-rouge & {
        background: light-dark(var(--color-grey-light), var(--color-black-light));
    }

    .c     { color: var(--color-grey-6); font-style: italic }
    .err   { color: var(--color-red); background-color: light-dark(var(--color-white), var(--color-grey-dark)); }
    .k     { color: var(--color-pink) }
    .o     { font-weight: bold }
    .cm    { color: var(--color-grey-6); font-style: italic }
    .cp    { color: var(--color-grey-6) }
    .c1    { color: var(--color-grey-6); font-style: italic }
    .cs    { color: var(--color-grey-6); font-style: italic }
    .gd    { color: var(--color-black); background-color: #fdd }
    .gd .x { color: var(--color-black); background-color: #faa }
    .ge    { font-style: italic }
    .gr    { color: light-dark(var(--color-red), var(--color-red-light)) }
    .gh    { color: var(--color-grey-6) }
    .gi    { color: var(--color-black); background-color: #dfd }
    .gi .x { color: var(--color-black); background-color: #afa }
    .go    { color: var(--color-grey-6) }
    .gp    { color:  var(--color-grey-dark) }
    .gs    { font-weight: bold }
    .gu    { color: var(--color-grey-6) }
    .gt    { color: light-dark(var(--color-blue), var(--color-blue-light)) }
    .kc    { color: var(--color-pink) }
    .kd    { color: var(--color-pink) }
    .kp    { color: var(--color-pink) }
    .kr    { color: var(--color-pink) }
    .kt    { color: light-dark(var(--color-red), var(--color-red-light)) }
    .m     { color: var(--color-orange) }
    .s     { color: light-dark(var(--color-green), var(--color-green-light)) }
    .na    { color: light-dark(var(--color-red), var(--color-red-light)) }
    .nb    { color: light-dark(var(--color-red), var(--color-red-light)) }
    .nc    { color: light-dark(var(--color-red), var(--color-red-light)) }
    .no    { color: light-dark(var(--color-red), var(--color-red-light)) }
    .ni    { color: var(--color-pink) }
    .ne    { color: light-dark(var(--color-blue), var(--color-blue-light)) }
    .nf    { color: light-dark(var(--color-blue), var(--color-blue-light)) }
    .nn    { color:  var(--color-grey-dark) }
    .nt    { font-weight: bold }
    .nv    { color: light-dark(var(--color-red), var(--color-red-light)) }
    .ow    { font-weight: bold }
    .w     { color: var(--color-grey-6) }
    .mf    { color: var(--color-orange) }
    .mh    { color: var(--color-orange) }
    .mi    { color: var(--color-orange) }
    .mo    { color: var(--color-orange) }
    .sb    { color: light-dark(var(--color-green), var(--color-green-light)) }
    .sc    { color: light-dark(var(--color-green), var(--color-green-light)) }
    .sd    { color: light-dark(var(--color-green), var(--color-green-light)) }
    .s2    { color: light-dark(var(--color-green), var(--color-green-light)) }
    .se    { color: light-dark(var(--color-green), var(--color-green-light)) }
    .sh    { color: light-dark(var(--color-green), var(--color-green-light)) }
    .si    { color: light-dark(var(--color-green), var(--color-green-light)) }
    .sx    { color: light-dark(var(--color-green), var(--color-green-light)) }
    .sr    { color: light-dark(var(--color-green), var(--color-green-light)) }
    .s1    { color: light-dark(var(--color-green), var(--color-green-light)) }
    .ss    { color: var(--color-pink) }
    .bp    { color: var(--color-grey-6) }
    .vc    { color: light-dark(var(--color-red), var(--color-red-light)) }
    .vg    { color: light-dark(var(--color-red), var(--color-red-light)) }
    .vi    { color: light-dark(var(--color-red), var(--color-red-light)) }
    .il    { color: light-dark(var(--color-red), var(--color-red-light)) }
}
