<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="icon" href="/favicon.ico" sizes="32x32">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
{{- $title := .Title }}
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" $title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
{{ partial "head/search-js.html" . }}
<script data-goatcounter="https://beans.invisibleparade.com/count"
        async src="//beans.invisibleparade.com/count.js"></script>
