<div class="container">
    <div class="site-title">
        <svg id="header-logo" width="50" height="30" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="10" fill="#fcfcfc" stroke="#202225" stroke-width="1" />
            <circle cx="25" cy="15" r="10" fill="#202225" stroke="#fcfcfc" stroke-width="1" />
        </svg>
        <div class="site-url">
            <span class="header-url">invisibleparade.com/posts/static-site-generator-wishlist</span>
        </div>
    </div>
    <nav>
    	{{ partial "nav.html" . }}
    </nav>
</div>
