<ul class="nav-links">
    <li>
        <a href="/">Index</a>
        <span class="meta">Start here</span>
    </li>
    <li>
        <a href="/posts">Posts</a>
        <span class="meta">Performative thinking</span>
    </li>
    <li>
        <a href="/notes">Notes</a>
        <span class="meta">Digital garden</span>
    </li>
    <li>
        <a href="/links">Links</a>
        <span class="meta">Things I liked</span>
    </li>
    <li>
        <a href="/micro">Micro</a>
        <span class="meta">My <del>tweets</del> toots</span>
    </li>
</ul>
