{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <ul class="section-ul">
        {{ $pages := .Pages.ByPublishDate.Reverse }}
        {{ range (.Paginate $pages).Pages }}
            <li class="border-top">
                {{ .Content }}
                <a href="{{ .RelPermalink }}">
                    {{ partial "date-tag.html" .Date }}
                </a>
            </li>
        {{ end }}
    </ul>
    {{ partial "pagination.html" (dict "page" . "format" "terse") }}
{{ end }}
