{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ partial "custom-content" . }}
    <ul class="section-ul">
        {{ $pages := .Pages.ByPublishDate.Reverse }}
        {{ range (.Paginate $pages).Pages }}
            <li class="border-top">
                <h3>
                    <a href="{{ .Page.Params.link }}">{{ partial "smart-title.html" . }}</a>&nbsp;
                    <span class="meta">({{ partial "funcs/tld.html" .Page.Params.link }})</span>
                </h3>
                {{ partial "custom-content" . }}
                {{ partial "date-link.html" . }}
            </li>
        {{ end }}
    </ul>
    {{ partial "pagination.html" (dict "page" . "format" "terse") }}
{{ end }}
